body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.inp {
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;
}

.login {
    display: flex;
    justify-content: center;
    width: 20vmax;
    height: 20vmax;
    box-shadow: 2px 4px 15px #020202;
    text-align: center;
    border-radius: 2vmax;
    padding: 5vmax;
}

.h3 {
    padding: 1vmax;
    font: 800 3vmax blue;
    filter: drop-shadow(10px 10px 2px #143b4feb);
    color: tomato;
}

.form>.inp>div {
    display: flex;
    width: 12vmax;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font: 400 1.2vmax black;
}



.form>.inp>div>input {
    text-align: center;
    border: none;
    outline: none;
    width: 12vmax;
}

.form>input {
    margin-top: 2vmax;
    padding: 4px 15px;
    font: 600 1.4vmax black;
    border-radius: 1vmax;
    cursor: pointer;
    background-color: aqua;
    border: 1px solid black;
}